header
  .mdl-layout__header-row
    .mdl-layout-title
      a
        color: white
        text-decoration: none
main.mdl-layout__content
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: column
  .content
    // This is temporary, we need a better solution
    width: 900px
    form.signUp
      display: flex
      flex-direction: column
      align-items: center
      margin: 1em
footer
  .mdl-mini-footer__right-section
    button.mdl-mini-footer__social-btn
      margin-left: .5em
      margin-right: .5em
