$primary-bg-color-1: #3f51b5
$dashboard-bg-1: #262A3C
$error-primary-1: rgb(244, 67, 54)
$warn-primary-1: rgb(244, 169, 54)

header
  &.dashboard
    background-color: $dashboard-bg-1
    color: white
    .mdl-layout-title
      a
        color: white
        text-decoration: none
    .profile
      .material-icons
        font-size: 2em
        line-height: 2em
        vertical-align: middle
        padding-right: .25em
    nav.mdl-navigation
      .mdl-navigation__link
        display: flex
        flex-direction: row
        align-items: center
        color: white
        &:hover
          background-color: $primary-bg-color-1
          color: white
        .material-icons
          vertical-align: middle
          margin-right: 1.5em
          &::after
            right: -12px
  .mdl-layout__header-row
    .mdl-layout-title
      a
        color: white
        text-decoration: none
aside.notification
  width: 100%
  text-align: center
  padding: 1em
  font-size: 150%
  color: white
  animation-delay: 2s
  &.error
    background-color: $error-primary-1
  &.warn
    background-color: $warn-primary-1
  &.success
    background-color: green
main.mdl-layout__content
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: column

  .error_img
    max-width: 90%

  .card-wrapper
    display: flex
    align-items: felx-start
    .card
      margin: 8px
      width: 50%

  .content
    .landing-login
      h4
        text-align: center
    form.signUp, form.logIn
          .mdl-card__actions
            display: flex
            flex-direction: row
            justify-content: center
    form.signUp
      display: flex
      flex-direction: column
      align-items: center
      margin: 1em
    form.logIn
      display: flex
      flex-direction: column
      align-items: center
      margin: 1em
    &.dashboard
      width: 100%
      display: flex
      &.error
        flex-direction: column
        justify-content: center
        align-items: center
        img
          margin-top: 1em
      .add
        margin-left: auto
        margin-right: auto
    .friends
      flex: 1 1 75%
    .stream
      flex: 1 1 25%
footer
  .mdl-mini-footer__right-section
    button.mdl-mini-footer__social-btn
      margin-left: .5em
      margin-right: .5em
