.card-wrapper
  .card.mdl-card.mdl-shadow--2dp
    .mdl-card__title
      h2.mdl-card__title-text Welcome
    .mdl-card__supporting-text
      p We at Converse would like to welcome you to our experimental social media platform! We hope you like what you see!
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Dismiss
  .card.mdl-card.mdl-shadow--2dp
    .mdl-card__title
      h2.mdl-card__title-text Profile
    .mdl-card__supporting-text
      p Profile picture, bio, location, contact info (email, phone, website, pgp key, other social media)
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Just do it
