.mdl-cell.mdl-cell--6-col
  include ./settings/details
.mdl-cell.mdl-cell--6-col
  include ./settings/email
.mdl-cell.mdl-cell--6-col
  include ./settings/password
.mdl-cell.mdl-cell--6-col
  .mdl-card.mdl-shadow--2dp
    .mdl-card__title
      h2.mdl-card__title-text Password requirements
    .mdl-card__supporting-text  Remember, your password needs to be at least 8 characters long, contain lower case, upper case, a number, and a symbol. Thanks for helping us keep your account secure!
