if friends.length > 0
  each friend, idx in friends 
    .card
      +card(friend.displayName, ['Ask', 'Nudge', 'Pester'])
        p Keep up to date with this here person. 
        p Normally this would have their recent updates..
