extends ./layout.jade

block content
  div.content.dashboard
    .card-wrapper.friends
      if friends.length > 0
        include ./partials/dashboard/friends
      else 
        .card
          +card('Its lonely', ['Add a friend or two'])
            p Looks like you could use a friend, or five. 
            p Good news is you can add them!
            p Just tap that button below to get started. 
              i.material-icons mood
    .card-wrapper.stream
      each item, idx in ['sample', 'cards']
        .card
          +card(item)
            p Keith says he is up to no good
            p Then again this is hard coded.
