extends ./layout.jade

block content
  div.content.dashboard.error
    img.error_img(src='/images/404.png')
    h3 This is just as awkward for you as us.
    h4
      a(href='/') Get back to a safe place!
