extends ./layout.jade

block content
  div.content.dashboard.error
    img(src='/images/404.png')
    h3 This is just as awkward for you as us.
    h4 You can make it back to a safe place by clicking 
      a(href='/') Here
      | .
