extends ./layout.jade

block content
  div.content.dashboard.error
    img.error_img(src='/images/404.png')
    h3 This is just as awkward for us as it is for you.
    h4
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/') Back away
