extends ./layout.jade

block content
  div.content
    form.signUp(action='/forgot' method='post')
      .mdl-card.mdl-shadow--4dp
        .mdl-card__title
          h2.mdl-card__title-text Forgot Password
        .mdl-card__supporting-text
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input#forgot__email.mdl-textfield__input(type='text',name='email',required='required')
            label.mdl-textfield__label(for='signUp__email') E-mail
        .mdl-card__actions
          button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(type='submit') Reset
