doctype html
html(lang='en')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    #container
      #header
        h1 #{sitename}
        h2 #{pagetitle}
      #body
        p Greetings #{user}! Welcome to Converse, an experimental social media platform!
      #footer
        p
          a(href='https://github.com/whiteboards/converse') Fork me on GitHub!
