doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{sitename}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" type="text/css" href="/css/vendor/material.min.css")
    script(src='/js/bundle.min.js')
    link(rel="stylesheet" type="text/css" href="/css/style.css")
  body
    .mdl-layout.mdl-js-layout
      header.mdl-layout__header.mdl-layout__header--waterfall
        // Top row, always visible
        .mdl-layout__header-row
          // Title
          span.mdl-layout-title 
            a(href='/') #{sitename} 
          .mdl-layout-spacer
          .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
            label.mdl-button.mdl-js-button.mdl-button--icon(for='waterfall-exp')
              i.material-icons search
            .mdl-textfield__expandable-holder
              input#waterfall-exp.mdl-textfield__input(type='text', name='search')
        // Bottom row, not visible on scroll
        .mdl-layout__header-row
          .mdl-layout-spacer
          // Navigation
          nav.mdl-navigation
            a.mdl-navigation__link(href='') Link
      .mdl-layout__drawer
      
        span.mdl-layout-title #{sitename}
        nav.mdl-navigation
          a.mdl-navigation__link(href='') Link
      main.mdl-layout__content
        block content
      footer.mdl-mini-footer
        .mdl-mini-footer__left-section
          .mdl-logo
          ul.mdl-mini-footer__link-list
            block footerLinks
              li
                a(href='https://github.com/whiteboards/converse') View Source
              li
                a(href='/help') Help
              li
                a(href='/privacy') Privacy Policy
              li
                a(href='/useragreement') Terms and Conditions
        .mdl-mini-footer__right-section
          button.mdl-mini-footer__social-btn 
            i.material-icons twitter
          button.mdl-mini-footer__social-btn 
            i.material-icons github
          button.mdl-mini-footer__social-btn 
            i.material-icons plus
            
