doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{sitename}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" type="text/css" href="/css/vendor/material.min.css")
    script(src='/js/bundle.min.js')
    link(rel="stylesheet" type="text/css" href="/css/style.css")
  body
    include ./partials/mixins/core
    unless user
      include ./partials/layouts/default
    else
      include ./partials/layouts/dashboard
      
    //- Footer thinks it can be an asshole and get away with it.
    //- Footer is wrong. Commented out for now.
    //-
      footer.mdl-mini-footer
        .mdl-mini-footer__left-section
          .mdl-logo
          ul.mdl-mini-footer__link-list
            block footerLinks
              li
                a(href='https://github.com/whiteboards/converse') View Source
              li
                a(href='/help') Help
              li
                a(href='/privacy') Privacy Policy
              li
                a(href='/useragreement') Terms and Conditions
        .mdl-mini-footer__right-section
          button.mdl-mini-footer__social-btn 
            i.material-icons twitter
          button.mdl-mini-footer__social-btn 
            i.material-icons github
          button.mdl-mini-footer__social-btn 
            i.material-icons plus
            
