extends ./layout.jade

block content
  div.content
    h1 Login
    h4 
      | Hey, thanks for trying us out. You can sign in below, or if you still need an account you can head to our 
      a(href='/signUp') sign up
      |  page and get started.
    include ./partials/form__login
