extends ./layout.jade

block content
  div.content
    h1 Sign Up
    h4 
      | Hey, thanks for trying us out. You can sign up below, or if you have an account you can head to our 
      a(href='/login') login
      |  page.
    include ./partials/form__signUp
