header.dashboard {
  background-color: #262A3C;
  color: white; }
  header.dashboard .mdl-layout-title a {
    color: white;
    text-decoration: none; }
  header.dashboard .profile .material-icons {
    font-size: 2em;
    line-height: 2em;
    vertical-align: middle;
    padding-right: .25em; }
  header.dashboard nav.mdl-navigation .mdl-navigation__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white; }
    header.dashboard nav.mdl-navigation .mdl-navigation__link:hover {
      background-color: #3f51b5;
      color: white; }
    header.dashboard nav.mdl-navigation .mdl-navigation__link .material-icons {
      vertical-align: middle;
      margin-right: 1.5em; }
      header.dashboard nav.mdl-navigation .mdl-navigation__link .material-icons::after {
        right: -12px; }

header .mdl-layout__header-row .mdl-layout-title a {
  color: white;
  text-decoration: none; }

aside.notification {
  width: 100%;
  text-align: center;
  padding: 1em;
  font-size: 150%; }
  aside.notification.error {
    background-color: #f44336;
    color: white; }

main.mdl-layout__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  main.mdl-layout__content .card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  main.mdl-layout__content .card {
    flex: 1 1 auto;
    margin: 1em; }
  main.mdl-layout__content .content .landing-login h4 {
    text-align: center; }
  main.mdl-layout__content .content form.signUp .mdl-card__actions, main.mdl-layout__content .content form.logIn .mdl-card__actions {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  main.mdl-layout__content .content form.signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em; }
  main.mdl-layout__content .content form.logIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em; }
  main.mdl-layout__content .content.dashboard {
    width: 100%;
    display: flex; }
    main.mdl-layout__content .content.dashboard.error {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main.mdl-layout__content .content.dashboard.error img {
        margin-top: 1em; }
    main.mdl-layout__content .content.dashboard .add {
      margin-left: auto;
      margin-right: auto; }
  main.mdl-layout__content .content .friends {
    flex: 1 1 75%; }
  main.mdl-layout__content .content .stream {
    flex: 1 1 25%; }

footer .mdl-mini-footer__right-section button.mdl-mini-footer__social-btn {
  margin-left: .5em;
  margin-right: .5em; }
