extends ./../layout.jade

block content
  div.content
    h1 Privacy Policy
    p The privacy policy is as follows: "Don't piss us off and we won't sell your shit. Everything else is fair game. This is temporary filler text, please don't call your lawyer."
