.mdl-card.mdl-shadow--2dp
  .mdl-card__title
    .mdl-card__title-text Email
  .mdl-card__supporting-text
    form(method='post' action='profile/email')
      .mdl-layout
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#settings__email.mdl-textfield__input(type='text',name='email',value="#{user.email}")
          label.mdl-textfield__label(for='settings__email') E-mail
      button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(type='submit') Save
  .mdl-card__menu
    button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
      i.material-icons settings
