.card.mdl-card.mdl-shadow--2dp
  .mdl-card__title
    .mdl-card__title-text Password
  .mdl-card__supporting-text
    form(method='post' action='profile/password')
      .mdl-layout
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#settings__password.mdl-textfield__input(type='password',name='password_current')
          label.mdl-textfield__label(for='settings__password') Current Password
            span.
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#settings__password.mdl-textfield__input(type='password',name='password_new')
          label.mdl-textfield__label(for='settings__password') New Password
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#settings__password.mdl-textfield__input(type='password',name='password_confimrm')
          label.mdl-textfield__label(for='settings__password') Confirm Password
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(type='submit') Change Password
